<%= form_for @membersclub do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>
  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre %>
  </div>
  <div class="action">
    <%= form.submit 'Update Club' %>
  </div>

<% end %>